<footer style="background-color:#343a40;color:white;">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>About</h2>
                <p>Conversion of units is the conversion between different units of measurement for the same quantity,
                    typically through multiplicative conversion factors.</p>
            </div>
            <div class="col-md-8">
                <center>
                    <h5 style="margin-top: 60px;color:silver;">All rights reserved © 2020</h5>
                </center>
                
            </div>
        </div>
    </div>
</footer>