{% extends 'base.html' %}

{% block head %}

<title>Converstion</title>

{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
<center>
    <h1>Welcome 🔥</h1>
</center>

<div class="container homepage">

    <div class="row">
        <div class="col-md-6 jobs_index_middle_panels">
            <a href="/currency-rates" style="text-decoration: none;color: white; ">
                <div class="card bg-dark" style="height:250px;margin: 15px;" >
                    <div class="card-block  text-center" style="margin-top:100px">
                        <h4 class="card-title">Currency</h4>
                        <h6 class="card-subtitle mb-2">Converter</h6>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 jobs_index_middle_panels">
            <a href="/convall" style="text-decoration: none;color: white;">
                <div class="card bg-dark"  style="height:250px;margin: 15px;">
                    <div class="card-block  text-center" style="margin-top:100px">
                        <h4 class="card-title">All</h4>
                        <h6 class="card-subtitle mb-2">Converter</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

{% endblock %}